@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
  
    display: flex;
   
   justify-content: center;
   align-items: center;
   gap: 0.6rem;
   
}

.container .login-container{
   padding-left: 5rem;
   padding-right: 5rem;
   padding-bottom: 3rem;
   padding-top: 2rem;
  

  background: #fff;
  box-shadow: 10px 10px 10px 10px rgb(0, 0, 0, .5);

}
.creat-account{
    margin-top: 1rem;
    padding-left: 1rem;
    color: #ccc;
}
.container .login-container form h2{
    font-size: 3rem;
    text-align: center;
    font-weight: 1000;
}

.container .login-container form .input-field{
    border-bottom: 1px solid  #32be8f;
    margin: 1rem;
    border-radius: 1rem;
    padding: .8rem;
    ;

}
 .image{
    max-width: 5%;
    
}
.image img{
    max-width: 100%;
    
}
.div{
    width: 30%;
   display: flex;
    justify-content: space-around;
}
.div img{
    width: 100%;
    text-align: center;
    
}
.container .login-container form .input-field input{
    width: 100%;
    outline: none;
    border: none;
    background: none;
    height: 100%;
    font-size: 1rem;
    font-weight: 700;
}

.container .login-container form .input-field input:placeholder-shown{
    font-size: 1rem;
    font-weight: 500;
}
.check{
    justify-content: flex-start;
    gap: 1rem ;
}
.check p{
    font-size: 1rem;
    padding-left: 1rem;
    color: #ccc;
}

.forget a{
text-decoration: none;
padding-left: 1rem;
}



.btn{
   
    padding: .6rem;
    font-size: 1rem;
    border-radius: 0.6rem;
    text-align: center;
    width: 20%;
    margin-left: 1rem;
    margin-top: 2rem;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    border: none;
}




@media (max-width: 500px){
    .container .login-container{
        height: 100vh;
        width: 90%;
        padding-left: 1rem;
   padding-right: 1rem;
   padding-bottom: 3rem;
   padding-top: 2rem;
   

    }

    .image{
        max-width: 10%;
        
    }
    .image img{
        max-width: 100%;
    }
    .btn{
        width: 30%;
       
    }

}